.list {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.459);
  width: 90%;
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
}
@media screen and (max-width: 600px) {
  .todoform, .list {
    width: 95%;
    padding: 15px;
  }
  
  
}